$navbar-default-bg: rgb(127, 172, 209);
@import "bootstrap-sprockets";
@import "bootstrap";


.jumbotron{
  background-image: asset-url('123.jpg');
  background-size: cover;
  height: 600px;
  text-align: center;
}
.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: rgb(102, 213, 247);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: rgb(27, 96, 117);
  text-decoration: none;
} 
.btn-xlarge :hover{
  color: rgb(174, 203, 216);
  text-decoration: none;
}